/* Общие стили */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}

.dialogs-interface{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, .1);
}
/* /Общие стили */

/* Диалоги */
.dialogs{
    flex: .2;
    display: flex;
    flex-flow: column;
    background-color: #019ad6;
    color: #fff;
    height: 100vh;
    overflow-y: scroll;
}

/* Фрейм диалогов */
.frame-dialogs{
    display: flex;
    flex-flow: column;
}

.frame-dialogs__header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.frame-dialogs__header-toggle-menu{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.frame-dialogs__header-search{
    flex: .9;
}

.frame-dialogs__header-search-field{
    padding: 12px;
    border-radius: 10px;
    background-color: #52a3db;
    border: 0;
    color: #fff;
    width: 100%;
    outline: #177aa3;
}

.frame-dialogs__header-search-field::placeholder{
    color: #fff;
}

.frame-dialogs__list{
    padding-bottom: 10px;
}

.frame-dialogs__list-item{
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
    transition: all linear .3s;
    padding: 15px 25px;
}

.frame-dialogs__list-item:hover,
.frame-dialogs__list-item_active{
    background-color: #177aa3;
}

.frame-dialogs__list-item-header{
    font-size: 18px;
    margin-bottom: 10px;
}

.frame-dialogs__list-item-last-message{
    color: #e2ffff
}
/* /Фрейм диалогов */

/* Фрейм настроек */
.frame-settings{
    display: none;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
}

.frame-settings__header{
    padding: 25px;
    display: flex;
}

.frame-settings__header-icon{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.frame-settings__header-icon-arrow{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.frame-settings__header-title{
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

.frame-settings__list{
    padding-bottom: 10px;
}

.frame-settings__list-item{
    display: block;
    color: #fff;
    text-decoration: none;
    transition: all linear .3s;
    padding: 15px 25px;
}

.frame-settings__list-item:hover,
.frame-settings__list-item_active{
    background-color: #177aa3;
}

.frame-settings__list-item-header{
    font-size: 18px;
}

.frame-settings__list-item-last-message{
    color: #e2ffff
}

.frame-settings__footer-item{
    padding: 15px 25px;
    color: #fff;
}

.frame-settings__footer-item a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
/* /Фрейм настроек */

/* Фрейм профиля */
.frame-profile{
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    height: 100vh;
}

.frame-profile__header{
    padding: 25px;
    display: flex;
}

.frame-profile__header-icon{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.frame-profile__header-icon-arrow{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}

.frame-profile__header-title{
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}

.frame-profile__user{
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.frame-profile__user-image{
    border-radius: 50%;
    margin-right: 30px;
}

.frame-profile__user-title{
    font-size: 20px;
}

.frame-profile__contacts{
    padding: 25px;
    display: flex;
    flex-flow: column;
}

.frame-profile__contacts-item{

}

.frame-profile__list-contacts-item-header{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.frame-profile__list-contacts-item-value{
    font-size: 16px;
    color: #e2ffff;
}
/* /Фрейм настроек */

/* /Диалоги */

/* Отдельный диалог */
.dialog-detailed{
    flex: .8;
    background-color: #f4f4f4;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

/* Шапка диалога */
.dialog-detailed__header{
    padding: 15px 25px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #e8e8e8;
}

.dialog-detailed__header-heading{

}

.dialog-detailed__header-heading-title{
    color: #576163;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dialog-detailed__header-heading-ago{
    color: #606163;
    font-size: 14px;
}

.dialog-detailed__header-icons{
    display: flex;
    align-items: center;
    flex-basis: 65px;
    justify-content: space-between;
}

.dialog-detailed__header-icons-icon{
    font-size: 24px;
    font-weight: 300;
    color: #707578;
    text-decoration: none;
    cursor: pointer;
}
/* /Шапка диалога */

/* Сообщения диалога */
.dialog-detailed__messages{
    padding: 25px;
    overflow-y: scroll;
    flex: 1;
}

.dialog-detailed__messages-item:not(:first-child):not(:last-child){
    margin-top: 20px;
    margin-bottom: 20px;
}

.dialog-detailed__messages-item-incoming{
    text-align: left;
}

.dialog-detailed__messages-item-outgoing{
    text-align: right;
}

.dialog-detailed__messages-item-incoming .dialog-detailed__messages-item-content{
    background-color: #c4d4e1;
}

.dialog-detailed__messages-item-outgoing .dialog-detailed__messages-item-content{
    background-color: #fff;
}

.dialog-detailed__messages-item-sent .dialog-detailed__messages-item-content::after{
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 12px;
}

.dialog-detailed__messages-item-read .dialog-detailed__messages-item-content::before{
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    right: 7px;
    bottom: 3px;
    font-size: 12px;
}

.dialog-detailed__messages-item-read .dialog-detailed__messages-item-content::after{
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 12px;
}

.dialog-detailed__messages-item-content{
    display: inline-block;
    padding: 15px 20px;
    color: #576163;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
    position: relative;
}

.dialog-detailed__messages-item-content-author{
    font-size: 14px;
    margin-bottom: 8px;
    color: #019ad6;
}

.dialog-detailed__messages-item-content-text{

}

.dialog-detailed__messages-item-content-time{
    font-size: 14px;
    margin-top: 8px;
}

.dialog-detailed__messages-item-content-image{
    border-radius: 5px;
}

.dialog-detailed__notification{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dialog-detailed__notification-content{
    padding: 15px 20px;
    background-color: #019ad6;
    color: #fff;
    display: inline-block;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.dialog-detailed__notification-title{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}

.dialog-detailed__notification-text{
    font-size: 18px;
}

.dialog-detailed__notification-time{
    font-size: 14px;
    margin-top: 8px;
}
/* /Сообщения диалога */

/* Новое сообщение */
.dialog-detailed__new-message{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row;
    padding: 25px;
    color: #576163;
    border-top: 4px solid #e8e8e8;
    position: relative;
}

.dialog-detailed__new-message-icons{

}

.dialog-detailed__new-message-icons-icon{

}

.dialog-detailed__new-message-events-list{
    display: none;
    flex-flow: column;
    position: absolute;
    left: 25px;
    top: -110%;
    transition: all linear .3s;
}

.dialog-detailed__new-message-events-item{
    list-style-type: none;
    padding: 10px;
    border: 1px solid #576163;
    font-size: 16px;
    cursor: pointer;
}

.dialog-detailed__new-message-events-item:first-child{
    background: #576163;
    color: #ffffff;
    cursor: inherit;
}

.dialog-detailed__new-message-text{
    flex: .9;
}

.dialog-detailed__new-message-text-textarea{
    background: transparent;
    border: 0;
    resize: none;
    width: 100%;
    outline: none;
}

.dialog-detailed__new-message-send{

}

.dialog-detailed__new-message-send-icon{
    font-size: 32px;
    font-weight: 300;
    color: #707578;
    text-decoration: none;
}
/* /Новое сообщение */

/* /Отдельный диалог */


/*.dialog-detailed__messages-item-content-select{*/
/*    padding: 10px 20px;*/
/*    outline: none;*/
/*}*/

/*dialog-detailed__messages-item-content-select option{*/
/*    padding: 10px;*/
/*}*/